{% extends "base.html" %}
{% block title %}Create Polls{% endblock %}

{% block content %}
<!-- form element -->
<section class="create-polls">
    <h1 align="center">Create Polls</h1>

    <form align="center" method="POST" id="pollForm">
         
        <!-- <p>[All Image File are <strong>optional</strong>]</p> -->
        <div class="poll-information">
            <h4><strong>Title</strong> (optional)</h4>
            <input type="text"name="poll-title" placeholder="Title of the poll">
            <h4>Description (optional)</h4>
            <textarea class="poll-description" name="poll-description" rows="4" columns="50"></textarea>
        </div>
        <div class="create">

            <h4 class="build__question">Choose your <strong>Question</strong></h4>
            <input type="text" name="question" placeholder="What's your favourite food?">
            <!-- <input type="file"> -->
        
            <div class="create-option">
                <p class="build__options"><strong>Option 1:</strong></p>
                <!-- <input type="file" class="option__img"> -->
                <input type="text" name="option_1" placeholder="Pizza">
            </div>
            
            <div class="create-option">
                <p class="build__options"><strong>Option 2:</strong></p>
                <!-- <input type="file" class="option__img"> -->
                <input type="text" name="option_2" placeholder="Sushi">
            </div>
            
            <div class="create-option">
                <p class="build__options"><strong>Option 3:</strong></p>
                <!-- <input type="file" class="option__img" > -->
                <input type="text" name="option_3" placeholder="Hamburger">
            </div>
            
            <div class="create-option">
                <p class="build__options"><strong>Option 4:</strong></p>
                <!-- <input type="file" class="option__img"> -->
                <input type="text" name="option_4" placeholder="Other">
            </div>
        </div>
        
        <div align="center">
            <button type="submit" class="create-poll-btn">Create</button>
        </div>
    </form>
</section>
{% endblock%}
